/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    position: relative;
    color: black;
    background: linear-gradient( 200.96deg, #db8d10 -29.09%, #f0c5a8 51.77%, #ece9ee 129.35%);
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: top;
    align-items: top;
    overflow: scroll;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: black;
}

button {
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: transform ease-in 0.1s;
}

button:hover {
    transform: scale(1.1);
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.grid {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    /*inline-block의 장점은 폰트의 성질도 포함되고 있어서 text-align으로 정렬을 쉽게 할수가 있다.*/
    font-size: 0;
    /*양 옆쪽, 밑에 4px정도 여백을 없에주는 방법 하지만 크로스브라우징 호환성헤서는 문제가 있다.*/
}

.grid_item {
    width: 500px;
    height: 100%;
    display: inline-block;
    /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
    vertical-align: top;
    /*밑에 4px 여백을 없에는것*/
}