/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
    font-family: "feather";
    src: url("~tabler-react/dist/fonts/feather/feather-webfont.eot?t=1501841394106");
    /* IE9*/
    src: url("~tabler-react/dist/fonts/feather/feather-webfont.eot?t=1501841394106#iefix") format("embedded-opentype"), url("~tabler-react/dist/fonts/feather/feather-webfont.woff?t=1501841394106") format("woff"), url("~tabler-react/dist/fonts/feather/feather-webfont.ttf?t=1501841394106") format("truetype"), url("~tabler-react/dist/fonts/feather/feather-webfont.svg?t=1501841394106#feather") format("svg");
    /* iOS 4.1- */
}

;
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~tabler-react/dist/Tabler.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    position: relative;
    color: black;
    /* background: linear-gradient( 200.96deg, #e27208 -29.09%, #e2e7e5 51.77%, #7e03cf 129.35%); */
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: top;
    align-items: top;
    overflow: scroll;
    background: #f5f7fb;
}

h1 {
    color: black;
    font-size: 3vw;
}

h2 {
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: black;
}

button:hover {
    transform: scale(1.1);
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.grid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    /*inline-block의 장점은 폰트의 성질도 포함되고 있어서 text-align으로 정렬을 쉽게 할수가 있다.*/
    font-size: 0;
    /*양 옆쪽, 밑에 4px정도 여백을 없에주는 방법 하지만 크로스브라우징 호환성헤서는 문제가 있다.*/
}

.grid_item {
    width: 100%;
    height: 100%;
    display: inline-block;
    /*이부분에 성질을 inline-block로 바꿔줘서 가로배치를 해줬다.*/
    vertical-align: top;
    /*밑에 4px 여백을 없에는것*/
}

.monit {
    height: 40vw;
    margin: 0 0 10px 10px;
}

.brand {
    height: 5vw;
    border-bottom-color: white;
    margin-top: 5px;
}

.navmain {
    color: black;
    background-color: #cccccc;
    border-bottom-color: white;
    font-size: 1.5vw;
}

.chartdiv {
    width: 100%;
    height: 100%;
}

.custom-control-label {
    box-sizing: border-box;
    vertical-align: middle;
}

.mixchartdiv {
    width: 100%;
    height: 100%;
}

.monit {
    height: 100vw;
    background-color: #333333;
    margin: 0 0 0 0;
    color: #eeeeee;
}

::-webkit-scrollbar {
    display: none;
}

.timer {
    font-size: 40px;
    font-weight: bolder;
    margin-right: 1vw;
}

.monit_title {
    font-size: 60px;
    font-weight: bolder;
}

.bk_btn {
    margin-left: 1vw;
}

.miniChart {
    width: 90%;
}
